openapi: 3.0.1
info:
  title: WishBucket Plugin
  description: A plugin that allows user to search among all South Korean shopping platforms using ChatGPT. If you do not know the user's desired price range, or name of preferred brand or store, ask the user before making queries to the plugin.
  version: '0.1'
servers:
  - url: https://whipped-api.phloxcorp.io
paths:
  /search:
    get:
      operationId: getSearch
      parameters:
        - name: queryInEnglish
          in: query
          schema:
            type: string
          description: The search query in English.
        - name: queryInKorean
          in: query
          schema:
            type: string
          description: The search query in Korean.
        - name: maxPrice
          in: query
          schema:
            type: string
          description: The maximum price.
        - name: minPrice
          in: query
          schema:
            type: string
          description: The minimum price.
      responses:
        '200':
          description: OK
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/searchResponse'
components:
  schemas:
    searchResponse:
      type: object
      properties:
        totalCount:
          type: integer
          description: The number of returned items.
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              itemName:
                type: string
              brandName:
                type: string
              storeName:
                type: string
              itemLink:
                type: string
              price:
                type: integer
              currency:
                type: string
              tags:
                type: array
                items:
                  type: string
          description: The list of items.
